################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COMHost/.vs/COMHost/v14
*.aps
*.db
/COMHost/Debug
*.opendb
*.ipch
*.user
*.suo
/BTHost/Debug
/BTSample
/COMHost/packages/cpprestsdk.v140.windesktop.msvcstl.dyn.rt-dyn.2.8.0
/COMHost/Release
