################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COMHost/.vs/COMHost/v14
*.aps
*.db
/COMHost/Debug
*.opendb
*.ipch
*.user
*.suo
/BTHost/Debug
